AUTH_MODE=demo
AUTH_SESSION_SECRET=REPLACE_WITH_STRONG_SECRET
OIDC_ISSUER=https://login.example.com/realms/acme
OIDC_CLIENT_ID=qualibug-console
OIDC_CLIENT_SECRET=REPLACE_WITH_CLIENT_SECRET
OIDC_SCOPES=openid profile email
QUALIBUG_API_BASE_URL=http://127.0.0.1:8088
NEXT_PUBLIC_REALTIME_MODE=auto
NEXT_PUBLIC_REALTIME_POLL_INTERVAL_MS=3000
NEXT_PUBLIC_REALTIME_SSE_OPEN_TIMEOUT_MS=4500
